*{
  margin: 0px;
  padding: 0px;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
 width: 100%;
 position: fixed;
 top: 18px;
 
  
}

.list-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
}

.list-items > li {
  list-style-type: none;
}
.list-items > li > a {
  font-size: 20px;
  font-weight: 800;
  color: black;
  text-decoration: none;
}

/* MAIN-SECTION */

main {
  /* height: 50%;
    width: 100%; */
  background-image: url("assert/stethoscope.png");
  background-size: cover;
  /* background-position: center; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-area{
    width: 60%;
    margin-left: 200px;
}

.text-area > h1 {
  margin: 0px 0px;
  font-size: 60px;
  font-weight: 900;
  padding: 10px 0px;
}

.top-angle {
  margin-bottom: 15px;
}

.bottom-angle{
   margin-left: 364px;
}

.text-area > p {
  font-weight: 300;
  font-size: 18px;
}

.main-btn{
    background-color: green;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 20px;
    border: none;
    border-radius: 25px ;
    margin: 30px 0px;
}

.doctor-logo {
    width: 40%;
}

.doctor-img {
  display: flex;
  justify-content: flex-end;
  background-image: url(assert/greenBox.png);
  background-position: 90% 50%;
  background-size: 500px;
  background-repeat: no-repeat;
  position: ;
}

.doctor-img {
  height: 650px;
  margin-bottom: 100px;
}


/*  FACILITY EXPERIENCED */

.facility-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-experience{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  color: rgb(64, 255, 0);
}

.heading-experience >h1{
  font-weight: 900;
  font-size: 40px;
}

.facility-container-p{
  font-size: 20px;
  font-weight:bolder;
}

.main-3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  
}



.doctor{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 150px;
  /* border: 1px solid black; */
  margin-left: 50px;
  /* filter: drop-shadow(5px 5px 5px); */
  box-shadow: 5px 10px 18px #888888;
}


.inner-doctor >p{
  padding: 0px;
  margin: 0px;
  color: rgb(64, 255, 0);
  font-size: 23px;
  font-weight: 900;
}

.inner-doctor >h4{
  padding: 0px;
  margin: 0px;
  font-weight: 900;
  font-size:20px ;
}


/* footer */

.contact-form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  
  
}

.center-box{
  /* border: 2px solid black; */
  /* filter: drop-shadow(5px 5px 5px); */
  border-radius: 15px;
  box-shadow: 5px 10px 18px #888888;
  width: 300px;
}

.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 900;
  margin:20px 0px;
}

.form{
  margin-left: 10px;
}

label{
  font-size: 20px;
  font-weight: 600;
}

.text{
  width: 90%;
  border: none;
  margin: 8px ;
}

.button-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20PX;
}

.sub-button{
  width: 80%;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 18px;
  background-color: aquamarine;
  color: white;
  border: none;
  border-radius: 10px;
}